<h1>Welcome to HeatSync Labs</h1>
<h2>Arizona's Hacker Space { Est. 2009 }</h2>

<p><%= notice %></p>
<nav>
<% if current_user %>
  <%= current_user.email %>
  <%= link_to 'sign out', :sign_out %>
<% else %>
  <%= link_to 'sign in', sign_in_path %>
<% end %>
</nav>
