$blueprint-grid-columns : 16;
$blueprint-grid-width   : 40px;
$blueprint-grid-margin  : 20px;

$tron-orange:      #DF740C;
$tron-yellow:      #FFE64D;
$tron-blue:        #6FC3DF;
$tron-black:       #0C141F;
$compass-black:    #2F2F2F;

$bg-color:         #FFF;
$header-bg-color:  #191919;

$link-color:          $tron-orange !default;
$link-hover-color:    $tron-blue !default;
$link-active-color:   #607890 !default;
$link-visited-color:  lighten($tron-orange, 15%) !default;
$link-focus-color:    #607890 !default;

$selected-font-color:        #fff !default;
$selected-background-color:  #ff5e99 !default;
$list-left-margin:           1.8em !default;

$base-font-family: Corbel, unquote("Lucida Grande"), unquote("Lucida Sans Unicode"), unquote("Lucida Sans"), unquote("DejaVu Sans"), unquote("Bitstream Vera Sans"), unquote("Liberation Sans"), Verdana, sans-serif !default;
$base-font-size:    13px !default;
$base-line-height:  1.231 !default;

$font-color:  $compass-black !default;

@import "compass/reset";
@import "compass/utilities";
@import "partials/fonts";
@import "partials/styles";

@import "compass/layout/grid-background";
@import "blueprint/grid";
