// ---------------------------------------------------------------------------
// Imports

@import "partials/base";
@import "partials/navbar";
@import "partials/nav";
@import "partials/buttons";
@import "partials/forms";
@import "partials/alerts";

/* -------------------------------------------------------------------------*/
/* Layout */

body {
  @include container;
  padding: 40px;
  // @include susy-grid-background;
}

a {
  color          : rgb(0, 136, 204);
  text-decoration: none;
}